/* Frontend/src/app/Components/create-node/create-node.component.css */
.container {
  padding: 0;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  margin-right: 10px;
}

.alert {
  margin-top: 15px;
  margin-bottom: 15px;
}
