<div class="container-fluid p-0">
  <div class="row g-4 mb-4">
    <div class="col-md-6 d-flex">
      <div class="card w-100">
        <div class="card-body">
          <!-- Create Node Component -->
          <app-create-node></app-create-node>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="card w-100">
        <div class="card-body">
          <!-- Create Edge Component -->
          <app-create-edge></app-create-edge>
        </div>
      </div>
    </div>
  </div>

  <!-- View Nodes Component -->
  <app-view-nodes class="mb-4 d-block"></app-view-nodes>

  <!-- View Edges Component -->
  <app-view-edges class="mb-4 d-block"></app-view-edges>
</div>
